html, body {
	margin: 0;
	font-size: 16px;
	font-family: sans-serif;
	overflow: hidden;
}
h1, h2, h3, h4 {
	font-weight: normal;
	margin: 0;
}
h1 {
	font-size: 2rem;
}
h2 {
	font-size: 1rem;
}
h3 {
	text-transform: uppercase;
	font-size: 0.6rem;
	margin: 0.5rem 0;
}
li {
	padding: 1.25rem 0;
	font-size: 0.75rem;
}
ul {
	list-style: none;
	padding: 0;
}
a {
	text-decoration: none;
	color: blue;
	&:hover {
		text-decoration: underline;
	}
}
p {
	line-height: 1.4;
	margin: 0.5rem 0;
}
.app {
	height: 100vh;
	overflow: auto;
}
.content {
	max-width: 50rem;
	margin: 0 auto;
	padding: 1.5rem 0.75rem;
}